*{
font-family: 'Roboto', sans-serif;
box-sizing: border-box;
margin: 0;
}

img{
    max-width: 100%;
}

.texto-superior{
    background-color: black;
    color: white ;
    width: cover ;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: auto;
    padding: 10px;
}

.header-container{
    background-color: #F0A83E;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.menu{
    color: white; 
    font-size: 1.5rem;
    line-height: 1.5;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;

}

li{
    padding: 10px;
}

/* START HEROE*/ 

.heroe{
    background-color: beige;
    background-image: url(../img/bowl-and-pet-daities-on-green-background\ 1.png);
    background-size: cover;
    height: 450px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items:center;
}


.textoheroe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.tituloheroe{
    font-size: 2rem;
    line-height: 1.5;
    background-color: white;
    color: black;
    padding: 15px;
    text-align: center;
}
.subtituloheroe{
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    padding: 10px;
}
.botoncomedero{ 
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
    color: white;
    text-transform: uppercase;
    background-color: #F0A83E;
    padding: 10px;
    ;
}

a{
    color:white;
    text-decoration: none;
}

.h2{
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
}
/*FIN HEROE*/


/*PRODUCTOS DESTACADOS*/
.patitas{
    font-size: 9rem; 
    line-height: 1.5;
    color: #F0A83E;
    text-align: center;
}
.tituloproductos{
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
}
.subtituloproductos{
    font-size: 1rem ;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;
}

/*FIN TITULO PRODUCTOS DESTACADOS*/

.productos{
    display: flex;
    justify-content: center;
    align-content: center;
}

.foto-producto-precio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;

}

.nombreproducto{
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}
.precioproducto{
    font-size: 1rem ;
    line-height: 1.5;
    color:#F0A83E;
    text-align: center;
    padding: 10px;
}
.productos{
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}
/**FIN PRODUCTOS**/


/**FOOTER**/

footer{
    background-color: #3C2313;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footertop-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}

.iconosfooter{
    color: white;
    background-color: grey;
    padding: 10px;
    border-radius: 50%;
    display: inline-block;
}

.titulofooter{
    color:white;
    font-size:1.5rem;
    line-height: 1.5;
    padding: 10px;
}

.textofooter{
    color: grey;
    font-size: 0.8rem;
    line-height: 1.5;
}

/**FIN FOOTER**/

@media (max-width: 480px){
    /* HEADER */
    nav{
        display: none;
    }

    .productos{
        flex-flow: column nowrap;
    }
}